body {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 400;
	background: none;
}
.full {
	background: url(../img/bg3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
strong {
	font-weight: 700;
}
a, a:hover {
	color: #fff;
	text-decoration: none;
}

.logo {
	padding-bottom: 80px;
	font-size: 36px;
}
.logo i {
	color: #1fba99;
}
.coming-soon {
	padding-top: 60px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	text-align: center;
	color: #fff;
}
.coming-soon h2 {
	font-size: 80px;
	font-weight: 700;
	text-shadow: 0 1px 7px rgba(0,0,0,.2);
	text-transform: uppercase;
	letter-spacing: -2px;
}
.coming-soon h3 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 10px;
	opacity: 0.3;
	margin-top: 40px;
}
.coming-soon p {
	margin-top: 20px;
	font-size: 20px;
	line-height: 36px;
	display: inline-block;
	background: rgba(45,45,45,.2);
	padding: 5px 10px;
	border-radius: 10px;
}

.subscribe {
	padding-top: 50px;
	text-align: center;
}
.subscribe h3 {
	font-size: 32px;
	font-weight: 400;
	color: #fff;
	line-height: 40px;
	display: inline-block;
	background: rgba(45,45,45,.3);
	padding: 10px 20px;
	border-radius: 10px;
}
.subscribe p {
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
}

.social {
	margin-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.social a img {
	display: inline-block;
	padding: 0 10px;
}

.copyright {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.copyright a {
	border-bottom: 1px dotted #1BBC9B;
}

